---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Inicio | Taurus">
    <!-- Hero-->
    <section class="module-cover parallax text-center fullscreen"
        data-background="/Taurus/assets/img/IMG-20231206-WA0006.jpg" data-overlay="0.6"
        style="background-image: none; z-index: 0;"
        data-jarallax-original-styles='background-image: url("/Tuarus/assets/img/module-2.jpg");'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="m-b-20">
                        <strong>PREVENIR ES LA MEJOR HERRAMIENTA</strong>
                    </h1>
                </div>
            </div>
        </div>
        <div class="overlay-background" style="opacity: 0.6;"></div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;"
            id="jarallax-container-0">
            <div
                style='background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url("/Taurus/assets/img/IMG-20231206-WA0006.jpg"); position: absolute; top: 0px; left: 0px; width: 1349px; height: 681px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 0px; transform: translate3d(0px, 0px, 0px);'>
            </div>
        </div>
    </section>
    <!-- Hero end-->

    <!-- About-->
    <section class="module divider-bottom" id="Quienes_Somos">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto text-center">
                    <h1>Quienes Somos</h1>
                    <p class="lead">
                        <strong>Taurus Soluciones Empresariales</strong> es una empresa
                        Manizaleña, constituida como persona natural de régimen simplificado,
                        especializada en la realización de exámenes poligráficos,
                        estudios de confiabilidad y visitas domiciliarias, que brinda
                        asesoría con prontitud y objetividad a nuestros clientes
                        para una acertada toma de decisiones.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-my="60px" style="margin-top: 60px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 m-auto text-center">
                    <div class="container mt-4">
                        <video class="rounded" controls width="100%">
                            <source src="/Taurus/assets/video/VID-20240114-WA0002.mp4" type="video/mp4">
                            Tu navegador no soporta el tag de video.
                        </video>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-my="30px" style="margin-top: 30px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon">
                            <span class="ti-layout"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Somos su <br /> Mejor Opción</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetuer
                                adipiscing elit sed diam lorem ipsum amet.
                            </p>
                        </div>
                        <div class="icon-box-link">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon">
                            <span class="ti-cup"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Prestamos Servicios <br /> de Calidad</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetuer
                                adipiscing elit sed diam lorem ipsum amet.
                            </p>
                        </div>
                        <div class="icon-box-link">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon">
                            <span class="ti-harddrives"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>
                                Tenemos óptimos<br /> Tiempos <!--de--> Respuesta
                            </h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetuer
                                adipiscing elit sed diam lorem ipsum amet.
                            </p>
                        </div>
                        <div class="icon-box-link">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon">
                            <span class="ti-desktop"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Equípo altamente <br /> Profesional</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetuer
                                adipiscing elit sed diam lorem ipsum amet.
                            </p>
                        </div>
                        <div class="icon-box-link">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About end-->

    <!-- Portfolio-->
    <section class="module p-b-0" id="NuestrosServicios">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>Nuestros Servicios</h1>
                    <p class="lead">
                        See how your users experience your website in realtime
                        or view trends to see any changes in performance over
                        time.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-my="40px" style="margin-top: 40px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="filters serif">
                        <li>
                            <a class="current" href="#" data-filter="*">All</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".branding">Branding</a>
                        </li>
                        <li><a href="#" data-filter=".digital">Digital</a></li>
                        <li>
                            <a href="#" data-filter=".packaging">Packaging</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row row-portfolio" data-columns="3" style="position: relative; height: 899.334px;">
                <div class="grid-sizer"></div>
                <div class="portfolio-item branding" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-item-wrapper">
                        <div class="">
                            <img src="/Taurus/assets/img/IMG-20231206-WA0009.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item digital" style="position: absolute; left: 449.667px; top: 0px;">
                    <div class="portfolio-item-wrapper">
                        <div class="">
                            <img src="/Taurus/assets/img/IMG-20231206-WA0005.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item packaging" style="position: absolute; left: 899.334px; top: 0px;">
                    <div class="portfolio-item-wrapper">
                        <div class="">
                            <img src="/Taurus/assets/img/IMG-20231206-WA0010.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item branding" style="position: absolute; left: 0px; top: 449.667px;">
                    <div class="portfolio-item-wrapper">
                        <div class="">
                            <img src="/Taurus/assets/img/portfolio/6.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item digital" style="position: absolute; left: 449.667px; top: 449.667px;">
                    <div class="portfolio-item-wrapper">
                        <div class="">
                            <img src="/Taurus/assets/img/portfolio/5.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-item packaging" style="position: absolute; left: 899.334px; top: 449.667px;">
                    <div class="portfolio-item-wrapper">
                        <div class="">
                            <img src="/Taurus/assets/img/portfolio/2.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio end-->

    <!-- Portfolio-->
    <section class="module p-b-0" id="Servicios">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>Nuestros Servicios</h1>
                    <p class="lead">
                        See how your users experience your website in realtime
                        or view trends to see any changes in performance over
                        time.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-my="40px" style="margin-top: 40px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="container-carrucel-edit">
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Servicio</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Servicio</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Servicio</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Servicio</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio end-->

    <!-- Services-->
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon-box-icon">
                            <span class="ti-layout"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Pruebas de Polígrafo</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Pruebas poligráficas de calidad, realizadas por
                                examinadores entrenados y capacitados en
                                escuelas certificadas por la American Polygraph
                                Association APA
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon-box-icon">
                            <span class="ti-image"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Estudios de Seguridad</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                See how your users experience your website in
                                realtime or view trends to see any changes in
                                performance over time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon-box-icon">
                            <span class="ti-archive"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Visitas Domiciliarias</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                See how your users experience your website in
                                realtime or view trends to see any changes in
                                performance over time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services end-->

    <!-- Alt Services-->
    <section class="module bg-gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="/Taurus/assets/img/main/ipad.png" alt="" />
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h2>Flexible &amp; Lightweight.</h2>
                    <p class="lead">
                        Map where your photos were taken and discover local
                        points of interest. Map where your photos. Map where
                        your photos were taken and discover.
                    </p>
                    <div class="space" data-my="50px" style="margin-top: 50px;">
                    </div>
                    <div class="icon-box icon-box-left">
                        <div class="icon-box-icon">
                            <span class="ti-layout"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Visual Composer</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Map where your photos were taken and discover
                                local points of interest. Map where your photos.
                                Map where your photos were taken and discover.
                            </p>
                        </div>
                    </div>
                    <div class="icon-box icon-box-left">
                        <div class="icon-box-icon">
                            <span class="ti-cup"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>Revolution Slider</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Map where your photos were taken and discover
                                local points of interest. Map where your photos.
                                Map where your photos were taken and discover.
                            </p>
                        </div>
                    </div>
                    <div class="icon-box icon-box-left">
                        <div class="icon-box-icon">
                            <span class="ti-harddrives"></span>
                        </div>
                        <div class="icon-box-title">
                            <h6>User Experience</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>
                                Map where your photos were taken and discover
                                local points of interest. Map where your photos.
                                Map where your photos were taken and discover.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Alt Services end-->

    <!-- Team-->
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>Creative People.</h1>
                    <p class="lead">
                        See how your users experience your website in realtime
                        or view trends to see any changes in performance over
                        time.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-my="60px" style="margin-top: 60px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Taurus/assets/img/team/1.jpg" alt="" />
                            <div class="team-wrap">
                                <div class="team-content">
                                    <h6 class="team-name">Emma Connor</h6>
                                    <div class="team-role">Designer</div>
                                </div>
                                <div class="team-content-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Taurus/assets/img/team/2.jpg" alt="" />
                            <div class="team-wrap">
                                <div class="team-content">
                                    <h6 class="team-name">Richard Bauer</h6>
                                    <div class="team-role">Developer</div>
                                </div>
                                <div class="team-content-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Taurus/assets/img/team/3.jpg" alt="" />
                            <div class="team-wrap">
                                <div class="team-content">
                                    <h6 class="team-name">John Pope</h6>
                                    <div class="team-role">Founder</div>
                                </div>
                                <div class="team-content-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Taurus/assets/img/team/4.jpg" alt="" />
                            <div class="team-wrap">
                                <div class="team-content">
                                    <h6 class="team-name">Sara Smith</h6>
                                    <div class="team-role">Designer</div>
                                </div>
                                <div class="team-content-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Taurus/assets/img/team/5.jpg" alt="" />
                            <div class="team-wrap">
                                <div class="team-content">
                                    <h6 class="team-name">Emma Connor</h6>
                                    <div class="team-role">Developer</div>
                                </div>
                                <div class="team-content-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Taurus/assets/img/team/6.jpg" alt="" />
                            <div class="team-wrap">
                                <div class="team-content">
                                    <h6 class="team-name">Peter Chapman</h6>
                                    <div class="team-role">Founder</div>
                                </div>
                                <div class="team-content-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-my="30px" style="margin-top: 30px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <a class="btn btn-circle btn-outline-brand" href="#">About Us</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team end-->
</Layout>

<style is:inline>
    @media screen and (min-width: 320px) {
        .widget-maps-edit {
            border: 0;
            width: 100%;
            height: 14rem;
        }

        .container-carrucel-edit {
            display: flex;
            justify-content: center;
            height: 26.875rem;
            /* 430px / 16 */
            gap: 0.625rem;
            /* 10px / 16 */

            >div {
                flex: 0 0 60px;
                /* 120px / 16 */
                border-radius: 0.5rem;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e;
                /* 1px 5px 15px / 16 */
                position: relative;
                overflow: hidden;

                &:nth-of-type(1) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0004.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(2) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0005.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(3) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0006.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(4) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0007.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                .content-carrucel-edit {
                    font-size: 1.5rem;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 0.9375rem;
                    /* 15px / 16 */
                    opacity: 0;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    background: rgb(2, 2, 46);
                    background: linear-gradient(0deg,
                            rgba(2, 2, 46, 0.6755077030812324) 0%,
                            rgba(255, 255, 255, 0) 100%);
                    transform: translatey(100%);
                    transition:
                        opacity 0.5s ease-in-out,
                        transform 0.5s 0.2s;
                    visibility: hidden;

                    span {
                        display: block;
                        margin-top: 0.3125rem;
                        /* 5px / 16 */
                        font-size: 1.2rem;
                    }
                }

                &:hover {
                    flex: 0 0 120px;
                    /* 250px / 16 */
                    box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8;
                    /* 1px 3px 15px / 16 */
                    transform: translatey(-1.875rem);
                    /* -30px / 16 */
                }

                &:hover .content-carrucel-edit {
                    opacity: 1;
                    transform: translatey(0%);
                    visibility: visible;
                }
            }
        }
    }

    /* Estilos para pantallas de celular */
    @media screen and (min-width: 360px) {
        .widget-maps-edit {
            border: 0;
            width: 100%;
            height: 14rem;
        }

        .container-carrucel-edit {
            display: flex;
            justify-content: center;
            height: 26.875rem;
            /* 430px / 16 */
            gap: 0.625rem;
            /* 10px / 16 */

            >div {
                flex: 0 0 60px;
                /* 120px / 16 */
                border-radius: 0.5rem;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e;
                /* 1px 5px 15px / 16 */
                position: relative;
                overflow: hidden;

                &:nth-of-type(1) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0004.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(2) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0005.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(3) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0006.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(4) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0007.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                .content-carrucel-edit {
                    font-size: 1.5rem;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 0.9375rem;
                    /* 15px / 16 */
                    opacity: 0;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    background: rgb(2, 2, 46);
                    background: linear-gradient(0deg,
                            rgba(2, 2, 46, 0.6755077030812324) 0%,
                            rgba(255, 255, 255, 0) 100%);
                    transform: translatey(100%);
                    transition:
                        opacity 0.5s ease-in-out,
                        transform 0.5s 0.2s;
                    visibility: hidden;

                    span {
                        display: block;
                        margin-top: 0.3125rem;
                        /* 5px / 16 */
                        font-size: 1.2rem;
                    }
                }

                &:hover {
                    flex: 0 0 150px;
                    /* 250px / 16 */
                    box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8;
                    /* 1px 3px 15px / 16 */
                    transform: translatey(-1.875rem);
                    /* -30px / 16 */
                }

                &:hover .content-carrucel-edit {
                    opacity: 1;
                    transform: translatey(0%);
                    visibility: visible;
                }
            }
        }
    }

    /* Estilos para pantallas de tablet */
    @media screen and (min-width: 768px) {
        .widget-maps-edit {
            border: 0;
            width: 100%;
            height: 14rem;
        }

        .container-carrucel-edit {
            display: flex;
            justify-content: center;
            height: 26.875rem;
            /* 430px / 16 */
            gap: 0.625rem;
            /* 10px / 16 */

            >div {
                flex: 0 0 70px;
                /* 120px / 16 */
                border-radius: 0.5rem;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e;
                /* 1px 5px 15px / 16 */
                position: relative;
                overflow: hidden;

                &:nth-of-type(1) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0004.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(2) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0005.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(3) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0006.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(4) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0007.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                .content-carrucel-edit {
                    font-size: 1.5rem;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 0.9375rem;
                    /* 15px / 16 */
                    opacity: 0;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    background: rgb(2, 2, 46);
                    background: linear-gradient(0deg,
                            rgba(2, 2, 46, 0.6755077030812324) 0%,
                            rgba(255, 255, 255, 0) 100%);
                    transform: translatey(100%);
                    transition:
                        opacity 0.5s ease-in-out,
                        transform 0.5s 0.2s;
                    visibility: hidden;

                    span {
                        display: block;
                        margin-top: 0.3125rem;
                        /* 5px / 16 */
                        font-size: 1.2rem;
                    }
                }

                &:hover {
                    flex: 0 0 120px;
                    /* 250px / 16 */
                    box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8;
                    /* 1px 3px 15px / 16 */
                    transform: translatey(-1.875rem);
                    /* -30px / 16 */
                }

                &:hover .content-carrucel-edit {
                    opacity: 1;
                    transform: translatey(0%);
                    visibility: visible;
                }
            }
        }
    }

    /* Estilos para pantallas de computadora */
    @media screen and (min-width: 1024px) {
        .widget-maps-edit {
            border: 0;
            width: 100%;
            height: 14rem;
        }

        .container-carrucel-edit {
            display: flex;
            justify-content: center;
            height: 31.25rem;
            /* 500px / 16 */
            gap: 0.625rem;
            /* 10px / 16 */

            >div {
                flex: 0 0 7.5rem;
                /* 120px / 16 */
                border-radius: 0.5rem;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e;
                /* 1px 5px 15px / 16 */
                position: relative;
                overflow: hidden;

                &:nth-of-type(1) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0004.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(2) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0005.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(3) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0006.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                &:nth-of-type(4) {
                    background: url('/Taurus/assets/img/IMG-20231206-WA0007.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat 50% / cover;
                }

                .content-carrucel-edit {
                    font-size: 1.5rem;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 0.9375rem;
                    /* 15px / 16 */
                    opacity: 0;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    background: rgb(2, 2, 46);
                    background: linear-gradient(0deg,
                            rgba(2, 2, 46, 0.6755077030812324) 0%,
                            rgba(255, 255, 255, 0) 100%);
                    transform: translatey(100%);
                    transition:
                        opacity 0.5s ease-in-out,
                        transform 0.5s 0.2s;
                    visibility: hidden;

                    span {
                        display: block;
                        margin-top: 0.3125rem;
                        /* 5px / 16 */
                        font-size: 1.2rem;
                    }
                }

                &:hover {
                    flex: 0 0 15.625rem;
                    /* 250px / 16 */
                    box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8;
                    /* 1px 3px 15px / 16 */
                    transform: translatey(-1.875rem);
                    /* -30px / 16 */
                }

                &:hover .content-carrucel-edit {
                    opacity: 1;
                    transform: translatey(0%);
                    visibility: visible;
                }
            }
        }
    }
</style>